@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   scrollbar-width: none;
   scroll-behavior: smooth;
   font-family: 'DM Sans', sans-serif;
   user-select: none;
}

html, body {
   height: 100%;
   width: 100%;
   overflow: hidden;
   background: black;
   font-size: 15px;
}

body {
   background: transparent;
   min-height: 100svh;
   min-width: 100vw;
   background: #dfc9fc;
}

div.background-gradient {
   position: fixed;
   top: 0;
   left: 0;
   height: 100svh;
   width: 100vw;
   background: linear-gradient(to bottom, #993355, transparent 30% 70%, #440099);
   opacity: 0;
   transition: opacity 0.6s ease;
   pointer-events: none;
   z-index: 300;
}

div.background-gradient.shown {
   opacity: 1;
}

section.welcome {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   z-index: 400
}

div.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 0;
   line-height: 1;
}

div.intro p.den {
   font-size: 10.5rem;
   font-weight: 1000;
   background: linear-gradient(45deg, #993355, #440099 40%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
}

div.intro p.wayfinder {
   background: linear-gradient(135deg, #993355, #440099 40%);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
   font-size: 3.8rem;
   font-weight: 600;
   margin-top: -20px;
}

section.welcome p.intro span.wayfinder {
   background: linear-gradient(to right, #440099, #993355);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
   font-size: 4rem;
}

section.welcome button.start {
   width: calc(100% - 30px);
   color: white;
   padding: 0.75rem;
   margin: 1.25rem;
   border: none;
   border-radius: 1.5rem;
   font-size: 1.75rem;
   font-weight: 400;
   text-align: center;
   background: #440099;
}

@keyframes gradient-move {
   0% {
      background-position: 0% 0%;
   }
   100% {
      background-position: 200% 0%;
   }
}

section.airline, section.bags, section.security {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   gap: 10px;
   opacity: 1;
}

section p.ask {
   font-size: 1.75rem;
   font-weight: 500;
   text-align: center;
   max-width: calc(100% - 30px);
   line-height: 1.05;
   margin-top: 15px;
}

section input.search {
   background: rgba(0, 0, 0, 0.5);
   width: calc(100% - 30px);
   color: white;
   padding: 0.75rem;
   border: 2px solid rgba(0, 0, 0, 0.5);
   border-radius: 1.25rem;
   font-size: 1.25rem;
   transition: border 0.3s ease;
}

section input.search::placeholder {
   color: #dfc9fc;
   opacity: 0.8;
}

section input.search:focus {
   border: 2px solid black;
}

section div.list-contain {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
}

section div.list {
   width: calc(100% - 30px);
   display: flex;
   flex-direction: column;
   gap: 5px;
   overflow-y: scroll;
}

section div.list div.option {
   font-size: 1.5rem;
   text-align: center;
   padding: 0.75rem;
   border-radius: 1.25rem;
   transition: background 0.3s ease, border 0.3s ease;
   background: #dfc9fc;
   color: black;
   border: 2px solid black;
}

section div.list div.option.hidden {
   display: none;
}

section div.list div.option.selected {
   background: rgba(0, 0, 0, 0.75);
   color: white;
   border: 2px solid transparent;
}

section div.buttons {
   display: flex;
   flex-direction: row;
   gap: 5px;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 55px;
   margin-bottom: 15px;
   padding: 0px 15px 0px 15px;
}

section div.buttons button.back {
   height: 50px;
   width: 70px;
   color: black;
   border: none;
   border-radius: 1.5rem;
   font-size: 1.75rem;
   font-weight: 400;
   background: rgba(0, 0, 0, 0.2);
   display: flex;
   align-items: center;
   justify-content: center;
}

section div.buttons button.next {
   height: 50px;
   width: 100%;
   color: black;
   border: none;
   border-radius: 1.5rem;
   font-size: 1.75rem;
   font-weight: 400;
   background: rgba(0, 0, 0, 0.2);
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 40%, #440099 50%);
   background-size: 250% 250%;
   background-position: 0%;
   transition: background-position 0.6s ease;
}

section div.buttons button.more {
   height: 50px;
   width: 70px;
   color: black;
   border: none;
   border-radius: 1.5rem;
   font-size: 1.75rem;
   font-weight: 400;
   background: rgba(0, 0, 0, 0.2);
   display: flex;
   align-items: center;
   justify-content: center;
}

section button.next.allowed {
   background-position: 95%;
}

section.security {
   padding: 10px;
   font-size: 20px;
}

section.security p {
   max-width: 90%;
}

.hidden {
   opacity: 0 !important;
   pointer-events: none;
   user-select: none;
}

.hidden-trans {
   transition: opacity 0.3s ease !important;
}

.gone {
   display: none !important;
}