@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   scrollbar-width: none;
   scroll-behavior: smooth;
   font-family: 'DM Sans', sans-serif;
}

html {
   background: black;
   font-size: 15px;
}

body {
   background: linear-gradient(to bottom right, white, #440099);
   height: 100svh;
   width: 100vw;
}

section.welcome {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
}

section.welcome p.intro {
   font-size: 3rem;
   font-weight: 900;
   text-align: center;
   max-width: 90vw;
   text-wrap: wrap;
}

section.welcome p.intro span.brand {
   background: linear-gradient(to right, #440099, #993355);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
   text-wrap: wrap;
}